# #开头是注释
# /结尾是目录
# /开头是防止递归
# !开头是取反
# 可以使用glob模式进行文件和文件夹的匹配（glob指简化了的正则表达式 就是通配符：如 * ？ [abc] [0-9]  还有一个a/**/z表示匹配任意中间目录 ）

# 样例如下：
# *.a         # 忽略所有以.a结尾的文件
# !lib.a      # 忽略所有非lib.a文件,即使你前面忽略了.a文件
# /TODO       # 忽略当前目录下的TODO文件，而不忽略任何子目录下的TODO文件
# build/      # 忽略任何目录下的build文件夹
# doc/*.txt   # 忽略doc目录下的.txt文件 但不忽略doc目录下的子目录下的.txt文件
# doc/**/*.pdf # 忽略doc目录下及其子目录下的所有pdf文件
node_modules/